<div class="container">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h2 class="h2">Lista Tipo Productos</h2>
    </div>
  
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">cod</th>
            <th scope="col">tipo</th>
            <th scope="col">cantidad</th>
            <th scope="col">Description</th>
            <th class="text-center" scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of tipoProductos">
            <th scope="row">{{book.COD_TIP_PRODUCTO}}</th>
            <td>{{book.TIP_PRODUCTO}}</td>
            <td>{{book.CANTIDAD}}</td>
            <td>{{book.DES_TIP_PRODUCTO}}</td>
            <td class="text-center">
              <button class="btn btn-sm btn-primary" routerLink="/edit-book/{{book.COD_TIP_PRODUCTO}}">Edit</button>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
