<div class="container">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h2 class="h2">PLANTAS</h2>
    </div>
  
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">cod</th>
            <th scope="col">planta</th>
            <th scope="col">nombre_cientifico</th>
            <th scope="col">clase</th>
            <th scope="col">familia</th>
            <th scope="col">especie</th>
            <th scope="col">Descripción</th>
            <th scope="col">Fecha</th>
            <th class="text-center" scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of Plant">
            <th scope="row">{{book.COD_PLANTA}}</th>
            <td>{{book.NOM_PLANTA}}</td>
            <td>{{book.NOM_CIENTIFICO}}</td>
            <td>{{book.CLASE}}</td>
            <td>{{book.FAMILIA}}</td>
            <td>{{book.ESPECIE}}</td>
            <td>{{book.DES_PLANTA}}</td>
            <td>{{book.FEC_REGISTRO}}</td>
            <td class="text-center">
              <button class="btn btn-sm btn-primary" routerLink="/edit-book/{{book.COD_PLANTA}}">Edit</button>
          </tr>
        </tbody>
      </table>
    </div>
  </div>